@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;300&display=swap');

body {
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.6fr 1.9fr;
    height: 156px;
    align-items: center;
}

header img {
    grid-column: 2 / 3;
}

nav {
    grid-column: 4 / 5;
}

.my_collapse {
    display: flex;
    justify-content: center;
}

.my_list_menu {
    display: flex;
    justify-content: center;
    padding: 0px 0px 8px 0px;
}

.my_collapse a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:black;
    font-weight: 600;
    text-align: center;
}

.my_button_menu {
    width: 150px;
    height: 45px;
    background-color: #FA4A0C;
    font-size: 20px;
    border-radius:30px ;
    border: none;
    margin-bottom: 8px;
}

.my_collapse .my_button_menu {
    font-size: 24px;
    color: white;
}

.my_nav {
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
}

.my_nav a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:black;
    font-weight: 600;
}

.my_nav a:first-child {
    color: chocolate;
}

.banner_title {
    height: 450px;
    background-image: url(../Images/banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;

}

.banner_title p:first-child {
    font-size: 28px;
    align-self: flex-end;
    margin: 0;
}

.banner_title p:nth-child(2) {
    font-size: 58px;
    margin: 0;
    text-align: center;
}

form {
    padding: 15px;
    margin: 25px;
}

fieldset {
    border: none;
}

fieldset legend {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
}

.info {
    display: flex;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.info1, .info2 {
    width: 48%;
}

.info label, .objet label, .message label {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.info input, .objet select {
    margin-top: 20px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 4px;
    height: 30px;
}

.objet select {
    width: 803px;
}

.message textarea {
    margin-top: 20px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 4px;
}

#upload {
    display: none;
}

.button_up {
    display: flex;
    font-family:'Roboto' , sans-serif;
    align-items: center;
}

.button_up label {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #FA4A0C;
    border-radius: 4px;
    background-color: #FA4A0C;
    padding:12px 30px 12px 30px;
    margin: 5px 25px 30px 5px;
    letter-spacing: 3px;
    font-family:'Roboto' , sans-serif;
}

.objet {
    margin-bottom: 25px;
}

.map {
    border: 2px solid #D9D9D9;
    border-radius: 4px;
    width: 650px;
}

.bouton {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 8%;
}

.button {
    border:1px solid #FA4A0C;
    border-radius: 25px 25px;
    box-shadow: 1px 1px 5px black;
    background-color: #FA4A0C;
    color:white;
    width: 165px;
    height: 60px;
    font-size: 24px;
}